{
    "presets": [
        ["env",
            {
                modules: false
            }
        ]
    ],
    "plugins": [
        "external-helpers",
        "babel-plugin-transform-es2015-arrow-functions"
    ]
}